@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #181C14;
    margin: 0px;
    padding: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}

img {
    transition: all 0.3s;
    max-width: 100%;
    height: auto;
    display: block;
}

img:hover:not(#container img) {
    transform: translateY(-8px);
}