@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "ultraKill";
    src: url("/fonts/04b_03.woff2");
}

body {
    background-color: #181C14;
    margin: 0px;
    padding: 0px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}

svg {
    transition: all 0.3s;
    max-width: 100%;
    height: auto;
    display: block;
}

svg:hover {
    transform: translateY(-8px);
}